
h1{
  padding: 10px 10px 10px 10px;
  color: white;
  background: red;
}

.about {
  line-height: 1.6;
  padding-left: 10px;
  margin-left: auto;
}

.box {
   display:block;
   align-items:left;
   text-align: left;
   padding: 8px;
}
img {
  height: 300px;
  width: auto;
}

form {
	margin-top: 1em;
	border: 2px solid red;
	padding: 1em;
	font-size: 16px;
}

#formcontainer {
	width:47%;
	float: left;
}

#information {
  width: 47%;
  padding: 15px;
  float: left;
  clear: both;
}
.labelleft label {
  width: 100px;
  margin-right: 15px;
  color: black;
  float: left;
  text-align: right;
}
.labelleft input {
  display: block;
}
